<?xml version="1.0"?>

<model>
  <name>VSS Ball</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Thassio Gomes Silva</name>
    <email>thxssio@gmail.com</email>
  </author>

  <description>
   This model is an orange golf ball used in environments such as vsss and ssl
  </description>
</model>